@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');

body {background-image:url("imagenn/M4-desafio1-fondo.png");}

h1 {font-family: 'Mulish', sans-serif;font-size: 32px;font-weight: 700;}
input {font-family: 'Mulish', sans-serif;display: block; margin-bottom: 10px; margin-left: auto; margin-right:auto; font-size: 23px; padding: 10px; width: 500px; height: 50px;}
button {font-family: 'Mulish', sans-serif;display: block; margin-bottom: 10px; margin-left: auto; margin-right:auto; font-size: 22px; padding: 10px; width: 500px; height: 50px;font-weight: 600;background-color: #15163d; color: white;}

div {background-image: url("imagenn/M4-desafio1-fondo-form.png");width: 50%; margin: auto; padding:30px;}

form { width: 600px; background: white;  margin: auto; height: 400px; padding: 20px; text-align:center; }
